<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gifme Slack App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="<%= stylesheet_path 'style' %>" />
  </head>
  <body class="page--slack">
    <div class="content">
      <h1>You&rsquo;re all done.</h1>
      <p>Enjoy your new gif superpowers.</p>
    </div>
  </body>
</html>
