<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gifme Slack App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="<%= stylesheet_path 'style' %>" />
  </head>
  <body class="page--slack">
    <div class="content">
      <h1>Gifme for Slack</h1>
      <p>Hey, so you want gifs and you don&rsquo;t want to use Giphy. That&rsquo;s cool.</p>
      <p>Click this button and you&rsquo;ll be able to type <code>/gifme lol</code> and get a gif from gif.daneden.me with the word &ldquo;lol&rdquo; in the title.</p>
      <p>Pretty cool, huh?</p>
      <p>
        <a href="https://slack.com/oauth/authorize?scope=commands&client_id=17993112226.17993295106">
          <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
        </a>
      </p>
    </div>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '1066410076773301');
      fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1066410076773301&ev=PageView&noscript=1"
      /></noscript>
    <!-- End Facebook Pixel Code -->
    <script>
      fbq('track', 'ViewContent');
    </script>
  </body>
</html>
