/**
 * Reset
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
}


/**
 * Base styles
 */

body {
  box-sizing: border-box;

  font: 100%/1.5 Helvetica;

  background-color: #25282b;
}


/**
 * Search input
 */

.search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 2vmax;
  z-index: 1;

  font: 2vmax/1.5 "Helvetica Neue", Helvetica;

  border: none;
  background-color: rgba(255,255,255,.85);
  -webkit-backdrop-filter: blur(15px);
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}


/**
 * Content
 */

.thumbnails {
  padding-top: 7vmax;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

  .thumbnails__item {
    display: block;
    overflow: hidden;

    background-size: cover;
    background-position: center;
  }

    .thumbnails__item.is-hidden {
      display: none;
    }

    .item__img {
      width: 20vw;
      height: 15vw;
      display: block;
      -o-object-fit: cover;
         object-fit: cover;

      line-height: 1;
    }

      .item__img.is-hidden {
        opacity: 0;
      }

    .item__info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;

      color: #fff;
      background-color: rgba(0,0,0,.8);
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
      -webkit-transition: -webkit-transform .25s ease;
              transition: transform .25s ease;
    }

      .thumbnails__item:hover .item__info {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }

      .item__info a {
        color: inherit;
      }


