/**
 * Reset
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  position: relative;
}


/**
 * Base styles
 */

body {
  box-sizing: border-box;

  font: 100%/1.5 -apple-system, Helvetica;

  background-color: #25282b;
}


/**
 * Search input
 */

.search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 2vmax;
  z-index: 1;

  font: 2vmax/1.5 "Helvetica Neue", Helvetica;

  border: none;
  background-color: rgba(255,255,255,.85);
  backdrop-filter: blur(15px);
  outline: none;

  appearance: none;
}


/**
 * Content
 */

.thumbnails {
  padding-top: 7vmax;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    width: 20vw;
    height: 15vw;
    overflow: hidden;

    background-size: cover;
    background-position: center;

    &.is-hidden {
      display: none;
    }
  }
}

.item__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  line-height: 1;

  &.is-hidden {
    display: none;
  }
}

.item__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  color: #fff;
  background-color: rgba(0,0,0,.8);
  transform: translate3d(0, 100%, 0);
  transition: transform .25s ease;

  .thumbnails__item:hover & {
    transform: translate3d(0,0,0);
  }

  a {
    color: inherit;
  }
}

.page--slack {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 600px;
    padding: 5vmin;
    margin: 0 auto;

    color: #F9F8F3;
    text-align: center;

    p {
      margin-bottom: 1.5rem;
    }

    code {
      display: inline-block;
      padding: 1px 3px;
      background-color: #F9F8F3;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 3px;
      color: #3D464D;
    }
  }

}

